{% extends "layout.html" %}
{% block body %}
	<div class="col-xs-2 container text-left widget-clock">
		<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
		<span class="clock"></span>
	</div>

	<div class="col-xs-10 container text-center top-banner">
		<div id="debug">
			<button type="button" class="btn btn-primary" id="update-cal">Update Calendar</button>
			<button type="button" class="btn btn-primary" id="update-weather">Update Weather</button>
		</div>
	</div>

	<div class="col-xs-3 container text-left left-info">
		<h2>Upcoming Events</h2>
		<div id="calendar-error"></div>
		<table id="calendar-list" class="fixed"></table>
	</div>

	<div class="col-xs-6 container text-center"></div>

	<div class="col-xs-3 container text-right right-info">
		<h2>Weather</h2>
		<div class="widget-weather">
			<div class="widget-weather-error"></div>
			<div class="weather-data-today">
				<div id="weather-calc-date"></div>
				<div id="weather-calc-time"></div>
				<div id="weather-temp"></div>
				<div id="weather-main"></div>
				<div id="weather-desc"></div>
				<div id="weather-windspeed"></div>
				<div id="weather-winddirection"></div>
				<div id="weather-cloudpercent"></div>
			</div>
			<div class="weather-data-forecast">
				<div class="list-group event"></div>
			</div>
		</div>
	</div>
{% endblock %}